<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student portal | subjects</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/subjects.css}"/>
</head>
<body>
<div id="portalContainer">
    <div id="portalHeader">
        <div id="schoolLogo">SCHOOL</div>
        <div class="courses">SUBJECTS WE OFFER</div>
    </div>
    <div id="portalBody">
        <div class="bodyHeader">
            <div class="homePage">
                <a th:href="@{/}">Home</a>
            </div>
            <div class="announcements">
                <a th:href="@{/announcements}">Announcements</a>
            </div>
            <div class="academicResources">
                <a th:href="@{/resources}">Academic Resources</a>
            </div>
        </div>
        <div class="hero">
            <h1>The following subjects are on offer:</h1>
            <table>
                <tr th:each="subject:${subjects}">
                    <td th:text="${subject.subjectName}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>